---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Alexágono - Bajo Construcción</title>
	</head>
	<style>
		@font-face {
			font-family: "visby-bold";
			src: url("../fonts/visby-bold.otf");
		}

		@font-face {
			font-family: "visby-demi-bold";
			src: url("../fonts/visby-demi-bold.otf");
		}

		@font-face {
			font-family: "visby-heavy";
			src: url("../visby-heavy.otf");
		}

		@font-face {
			font-family: "visby-xtra" ;
			src: url("../fonts/visby-xtra-bold.otf");
		}

		@font-face {
			font-family: "visby" ;
			src: url("../fonts/visby.otf");
		}
		@font-face {
			font-family: "visby-light" ;
			src: url("../fonts/visby-light.otf");
		}

		h3{
			font-family: visby-light;
		}

		h1{
			font-family: visby;
		}
		h4{
			font-family: visby-light;
		}
	</style>

	<header>
		<Header/>
	</header>

	<body>
		<div id="Inicio">
			<h1>Inicio</h1>
			<h2>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde odio perspiciatis enim ullam, recusandae repellendus impedit, consequatur molestias quis labore laboriosam dolorum et, commodi ex sint saepe quibusdam mollitia soluta.
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dolor minus et. Nam libero quae praesentium corporis. Itaque quae obcaecati nobis, nesciunt corrupti ab nihil in ipsum quo nam corporis.
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque expedita corrupti earum neque debitis ipsam officia facilis ipsum. Eum tempore quisquam dignissimos deleniti blanditiis amet tenetur exercitationem nesciunt ipsam iste!
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque expedita corrupti earum neque debitis ipsam officia facilis ipsum. Eum tempore quisquam dignissimos deleniti blanditiis amet tenetur exercitationem nesciunt ipsam iste!
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque expedita corrupti earum neque debitis ipsam officia facilis ipsum. Eum tempore quisquam dignissimos deleniti blanditiis amet tenetur exercitationem nesciunt ipsam iste!
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque expedita corrupti earum neque debitis ipsam officia facilis ipsum. Eum tempore quisquam dignissimos deleniti blanditiis amet tenetur exercitationem nesciunt ipsam iste!
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque expedita corrupti earum neque debitis ipsam officia facilis ipsum. Eum tempore quisquam dignissimos deleniti blanditiis amet tenetur exercitationem nesciunt ipsam iste!
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque expedita corrupti earum neque debitis ipsam officia facilis ipsum. Eum tempore quisquam dignissimos deleniti blanditiis amet tenetur exercitationem nesciunt ipsam iste!
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque expedita corrupti earum neque debitis ipsam officia facilis ipsum. Eum tempore quisquam dignissimos deleniti blanditiis amet tenetur exercitationem nesciunt ipsam iste!
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque expedita corrupti earum neque debitis ipsam officia facilis ipsum. Eum tempore quisquam dignissimos deleniti blanditiis amet tenetur exercitationem nesciunt ipsam iste!
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque expedita corrupti earum neque debitis ipsam officia facilis ipsum. Eum tempore quisquam dignissimos deleniti blanditiis amet tenetur exercitationem nesciunt ipsam iste!
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque expedita corrupti earum neque debitis ipsam officia facilis ipsum. Eum tempore quisquam dignissimos deleniti blanditiis amet tenetur exercitationem nesciunt ipsam iste!
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque expedita corrupti earum neque debitis ipsam officia facilis ipsum. Eum tempore quisquam dignissimos deleniti blanditiis amet tenetur exercitationem nesciunt ipsam iste!
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque expedita corrupti earum neque debitis ipsam officia facilis ipsum. Eum tempore quisquam dignissimos deleniti blanditiis amet tenetur exercitationem nesciunt ipsam iste!

			</h2>
		</div>
		<div id="Nosotros">
			<h1>Nosotros</h1>
		</div>
	</body>

	<!--<footer>
		<Footer/>
	</footer> -->
</html>
