
<style>

    @font-face {
			font-family: "visby" ;
			src: url("../fonts/visby.otf");
	}

    a{
        color: #FFFFFF;
    }
    a:visited{
        color: #FFFFFF;
    }

    a:hover{
        color: #FFFFFF;
    }

    a:active{
        color: #FFFFFF;
    }

    #header-div{
        margin: 0%;
        padding: 0%;
        width: 100%;
        background: rgb(0,62,146);
        color: #FFFFFF;
        font-family: visby;
    }
</style>

<div id="header-div">
    <a href="">Inicio</a>
    <a href="">Nosotros</a>
    <a href="">Servicios</a>
    <a href="">Clientes</a>
    <a href="">Contacto</a>
</div>